<launch>
	<node pkg="iarc_arena_simulator" type="iarc_arena_simulator_node_noise" name="iarc_arena_simulator_node_noise" required="true">
	</node>
	<node pkg="dji_sdk_demo" type="dji_sdk_client_planner_tracking" name="dji_sdk_client_planner_tracking" output="screen">
	</node>
    <node pkg="dji_sdk_demo" type="dji_sdk_client_planner_path" name="dij_sdk_client_planner_tracking" output="screen">
    </node>
</launch>
